# Backend
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
FRONTEND_ORIGIN=
OPENROUTER_API_KEY=
MODEL_PROVIDER=

# Optional LangSmith tracing
LANGSMITH_TRACING=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
LANGSMITH_ENDPOINT=